// Colors
$white: #ffffff;
$black: #000000;
$blue: #2196f3;
$gray-text: #a0b0b9;

// Sizes
$base-font-size: 16px;

$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
);

$content-size: 754px;

// Fonts

$openSansRegular: 'openSansRegular', sans-serif;
$openSansBold: 'openSansBold', sans-serif;
