.filter {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  &__title {
    line-height: 12px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 20px;
  }

  &__item {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: url('../../../assests/cursor.png'), pointer;
    max-height: 40px;
    &:last-child {
      max-height: 60px;
      label {
        padding-bottom: 20px;
        max-height: 60px;
      }
    }
    input {
      opacity: 0;
      margin-left: 20px;
    }
    label {
      font-size: 13px;
      line-height: 20px;
      position: relative;
      left: 15px;
      display: block;
      width: 183px;
      max-height: 40px;
      padding: 10px 0px;
      cursor: url('../../../assests/cursor.png'), pointer;
      &:before {
        content: '';
        border: 1px solid $blue;
        border-radius: 2px;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: -28px;
      }
      &:after {
        width: 12px;
        height: 8px;
        display: block;
        border-left: 2px solid $blue;
        border-bottom: 2px solid $blue;
        transform: rotate(-45deg);
        position: absolute;
        top: 14px;
        left: -24px;
      }
    }
    input:checked + label:after {
      content: '';
    }
    &:hover {
      background-color: #f1fcff;
    }
  }
}
